<div class="user_options_menu hidden">
    <% if current_user.admin? %>
        <div class="ui secondary vertical">
            <%= link_to 'Admin panel', admin_path %>
            <div class="ui fitted divider"></div>
            <%= link_to 'Logout', session_path('current'), method: 'DELETE' %>
        </div>
    <% else %>
        <div class="ui secondary vertical">
                <%= link_to 'My profile', user_profile_path%>
                <div class="ui fitted divider"></div>
                <%= link_to 'Logout', session_path('current'), method: 'DELETE' %>
        </div>
    <% end %>
</div>