
<div class="gift_less_detail ui form segment">
    <div class="field">
        <h1>Gift name</h1>
        <div class="ui divider"></div>
        <%= gift.gift_name %>
    </div>
    <div class="field">
        <h1>Message</h1>
        <div class="ui divider"></div>
        <%= gift.message %>
    </div>
</div>