<div class="header">
    <div class="logo">Logo goes here</div>
    <div class="nav">
        <%= link_to find_gift_path do %>
            <div class="nav_button" id="gift_look_up">Find a gift</div>
        <% end %>
        <%= link_to new_gift_path do %>
            <div class="nav_button" id="new_gift">Make a gift</div>
        <% end %>
        <div class="nav_button" id="volunteer">Volunteer resources</div>
        <div class="nav_button" id="login">Login</div>
        <div class="nav_button" id="history">View my gifts</div>
    </div>


</div>