<%= render 'pages/header' %>

<div class="hours">How many hours have been donated so far</div>

<div class="content">
    <div class="video">Video goes here</div>
    <div class="how_this_works">How this works</div>
    <div class="other_content">Other content</div>

</div>