<%= render 'pages/header' %>

<div class="hours">How many hours have been donated so far</div>

<div class="content">
    <div class="video">
        <h1>Placeholder for video</h1>
        <iframe width="560" height="315" src="//www.youtube.com/embed/9bZkp7q19f0?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="how_this_works">
        <h1>How this works</h1>
        <p>
            All the Way is a play by Robert Schenkkan, depicting President Lyndon B. Johnson's efforts to maneuver members of the 88th United States Congress to enact, and civil rights leaders including Martin Luther King, Jr. to support, the Civil Rights Act of 1964. The play takes its name from Johnson's 1964 campaign slogan, "All the Way with LBJ."[1]

            The play was commissioned by the Oregon Shakespeare Festival and premiered there in 2012, in a production directed by Bill Rauch, with Jack Willis originating the role of LBJ. It premiered on Broadway in March 2014, in a production also directed by Rauch, which won the 2014 Tony Award and Drama Desk Award for Outstanding Play. Bryan Cranston won the Tony Award for Best Actor in a Play for his performance.
        </p>
    </div>
    <div class="other_content">
        <h1>Other content</h1>
        <p>
            All the Way is a play by Robert Schenkkan, depicting President Lyndon B. Johnson's efforts to maneuver members of the 88th United States Congress to enact, and civil rights leaders including Martin Luther King, Jr. to support, the Civil Rights Act of 1964. The play takes its name from Johnson's 1964 campaign slogan, "All the Way with LBJ."[1]

            The play was commissioned by the Oregon Shakespeare Festival and premiered there in 2012, in a production directed by Bill Rauch, with Jack Willis originating the role of LBJ. It premiered on Broadway in March 2014, in a production also directed by Rauch, which won the 2014 Tony Award and Drama Desk Award for Outstanding Play. Bryan Cranston won the Tony Award for Best Actor in a Play for his performance.        
        </p>
    </div>

</div>