<%= render 'pages/header' %>

<div class="hours">How many hours have been donated so far</div>

<div class="content">
    <div class="video">
        <h1>Placeholder for video</h1>
        <iframe width="560" height="315" src="//www.youtube.com/embed/9bZkp7q19f0?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="how_this_works">
        <h1>How this works</h1>
        <p>
            All the Way is a play by Robert Schenkkan, depicting President Lyndon B. Johnson's efforts to maneuver members of the 88th United States Congress to enact, and civil rights leaders including Martin Luther King, Jr. to support, the Civil Rights Act of 1964. The play takes its name from Johnson's 1964 campaign slogan, "All the Way with LBJ."[1]

            The play was commissioned by the Oregon Shakespeare Festival and premiered there in 2012, in a production directed by Bill Rauch, with Jack Willis originating the role of LBJ. It premiered on Broadway in March 2014, in a production also directed by Rauch, which won the 2014 Tony Award and Drama Desk Award for Outstanding Play. Bryan Cranston won the Tony Award for Best Actor in a Play for his performance.
        </p>
    </div>
    <div class="ui divider"></div>
    <div class="faq">
        <h1>FAQ</h1>
        <ul>
            <li><h2>Are you a non-profit organization?</h2><br>
                <p>Yes we are a non-profit organization based out of Toronto, Ontario, Canada. We are supported primarily through personal and corporate donations.  An application is being reviewed for Charity Status through the Canadian Revenue Agency.</p>
            </li>
            <li><h2>How do we audit the volunteer process and time spent?</h2>
                <p>We have a high level of trust in our users and the legitimacy of their gifts.  Therefore, there is no official audit process.  However, it is recommended that the user uploads a picture of them performing the act.  This is both a nice token and proof of completion for the receiver.</p>
            </li>
            <li><h2>How is this an impactful gift?</h2><br>
                <ul>
                    <li>Highly personalized</li>
                    <li>High value by donating personal resources</li>
                    <li>Proof of planning, effort and time spent</li>
                </ul>
            </li>
            <li><h2>Why does it ask for a donation at the end?</h2><br>
                <p>Although volunteering and acts of kindness go a long way, we want to maximize our own impact.  While you are in a giving mindset, we want you to consider making a small donation as well – every dollar has a BIG impact.</p>
            </li>
            <li><h2>Can we offer tax receipts for donations?</h2><br>
            <p>Yes, the Gift of Time will provide a tax receipt for all donations to registered charities over the amount of $20 made through the website.  Please note, the Gift of Time is not a charitable organization; although there is an option to make a donation in support of the website (which is highly appreciative), the Gift of Time cannot offer a tax receipt for any direct donations to the site.  However, all other donations made through the site over the amount of $20 to charities will provide a tax receipt.</p>
            </li>
            <li><h2>What will donations to the Gift of Time support?</h2><br>
            <p>All donations support the marketing efforts of the website.  It is our belief that by informing more people of this unique platform, we are promoting volunteering in the community and effectively creating volunteer hours that would have never been performed.  Therefore, your donation to the website creates additional volunteer hours to the macro and micro communities across the world.</p>
            </li>
            <li><h2>How do I get involved in the Gift of Time?</h2><br>
            <p>If you would like to be involved with the Gift of Time, please send an email to volunteer@thegiftoftime.ca; we can always use your support in public outreach and marketing initiatives.  Our number one goal today is inspiring others to donate their time and hour by hour, make the world a better place.  Please send us your information and join the team!</p>
            </li>
        </ul>

    </div>
    <div class="ui divider"></div>
    <div class="about_us">
        <h1>About us</h1>
        <p>
The Gift of Time is a non-profit organization with the goal of promoting volunteering at both the micro-community and macro-global level.  It’s a simple concept, people commonly donate money on behalf of others – why can’t we donate time?  The answer is we can but we don’t.  We are missing a platform to productize our time in the form of a gift. Charities offer certification of a gift and a registry for all donations; this is the core service offering of the Gift of Time.  Secondary to making this gift possible, we want to maximize the impact and emotional influence this gift can have.  Therefore, we leverage three attributes of a perfect gift:<br>
<ul>
<li>Highly personalized</li>
<li>High value by donating personal resources</li>
<li>Proof of planning, effort and time spent</li>
</ul>
<br>
There is no project too small and no idea too unique or personal for the Gift of Time.  We ask that our users dig deep, act selflessly and come up with an idea that the recipient will feel very strongly about.  The more personalized it is, the greater the impact.  Furthermore, the gift can be one hour, day or week of volunteering.  Alternatively, it can be a short time for a longer duration, a few hours a week for a few months.  You know how valuable your time is – make the decision that works best for you.  Lastly, plan out your gift; whether there’s a specific event or you’re being entrepreneurial in creating something on your own, proper planning will maximize your impact.
Tyler Sharpe, a graduate of the Richard Ivey School of Business, came up with the idea in high school, developed the business model and presented it with his peers in a university business competition under the category “what do you get for the person that has everything?”  A finalist in the competition, Tyler has wanted to turn this idea into a reality for some time.  With the help of past colleagues and dear friends, Steve Long [website development] and Matthew Rabson [strategy and market outreach], the Gift of Time is now live and operational.
   
        </p>
    </div>

</div>