// Variables:

$font-stack: "Lato", sans-serif;

$darker-theme: rgb(240, 178, 99);
$lighter-theme: rgb(255, 249, 229);
$hilite: rgb(241, 190, 124);

/* --------------- Across the whole document ------------------- */

body {
    font-family: $font-stack, sans-serif;
    background-color: $lighter-theme;
}

/* --------------- Header ------------------- */

.header {
    background-color: $darker-theme;
    position: relative;
    height: 3rem;

    .logo {
        position: absolute;
        left: 10rem;
        top: 1rem;
        color: $lighter-theme;

        &:hover {
            background-color: $hilite;
        }
    }

    .nav{
        position: absolute;
        right: 10rem;
        min-width: 23rem;

        .nav_button {
            cursor: pointer;
            box-sizing:border-box;
            -moz-box-sizing:border-box; /* Firefox */
            height: 3rem;
            float: left;
            padding: 0 0.5rem;
            padding-top: 1rem;
            color: $lighter-theme;

            &:hover {
                background-color: $hilite;
            }
        }
    }

    .find_gift {
        position: absolute;
        right: 34rem;
        top: 0.8rem;

        .field {
            float: left;
            margin: 0rem 0.2rem 0rem 0rem !important;

            input {
                padding: 0.3rem !important;
                font-size: 0.6rem !important;
            }
        }

        .button {
            float: left;
            padding: 0.45rem !important;
            font-size: 0.6rem !important;
            margin: 0rem 0.2rem 0rem 0rem !important;
        }
    }

}

/* --------------- Index ------------------- */

.video, .how_this_works, .other_content {
    position: relative;
    margin: 5rem 10rem; 
}

.video {

    text-align: center;

    h1{
        font-size: 3rem;
        margin: 2rem 0;
    }

    img {
        width: 75%;
    }
}

.how_this_works {

    text-align: center;

    h1 {
        font-size: 3rem;
        margin: 2rem 0;
    }
}

.other_content {

    text-align: center;

    h1 {
        font-size: 3rem;
        margin: 2rem 0;
    }
}

/* --------------- Find gift ------------------- */

.center_form {
    position: absolute;
    left: 50%;
    top: 7rem;
    margin-left: -20rem !important;
    padding: 3rem;
    width: 40rem;
    background-color: rgba(255,255,255,0.5);

    .button {
        min-width: 10rem;
    }
}

/* --------------- Show gift history ------------------- */

.gift_history_container {

    position: absolute;
    width: 30rem;
    top: 5rem;
    left: 50%;
    margin-left: -15rem;

    .gift_less_detail {
        width: 100%;
        background-color: rgba(255,255,255,0.5);
        position: relative;
        margin: 2rem 0;
        padding: 2rem;
    }

    .in_progress {
        color: #FFA300;
        border-color: #FFA300;
    }

    .completed {
        color: #2FCA7A;
        border-color: #2FCA7A;
    }

    .status {
        position: absolute;
        right: 2rem;
        top: 1rem;
        display: inline-block;
        border: 1px solid;
        border-radius: 5px;
        padding: 0.2rem;
    }
}