// Variables:

$font-stack: "Lato", sans-serif;

$darker-theme: rgb(240, 178, 99);
$lighter-theme: rgb(255, 249, 229);
$hilite: rgb(241, 190, 124);
$light-gray: rgb(206, 206, 206);

/* --------------- Across the whole document ------------------- */

body {
    font-family: $font-stack, sans-serif;
    background-color: $lighter-theme;
}

.hidden {
  display: none !important;
}

.center_form {
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    position: relative;
    top: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    padding: 3rem;
    width: 40rem;
    background-color: rgba(255,255,255,1);

    .button {
        min-width: 10rem;
    }
}

.basic.modal .content {
  .message {
    font-size: 2rem;
    margin: 3rem auto;
    text-align: center;}

    .button_container {
      margin: 0 auto;
      text-align: center;
    }
  }

/* --------------- Header ------------------- */

.header {
    background-color: $darker-theme;
    position: relative;
    height: 3rem;

    .logo {
        position: absolute;
        left: 10rem;
        top: 1rem;
        color: $lighter-theme;

        &:hover {
            background-color: $hilite;
        }
    }

    .nav{
        position: absolute;
        right: 10rem;
        min-width: 51rem;

        .nav_button {
            cursor: pointer;
            box-sizing:border-box;
            -moz-box-sizing:border-box; /* Firefox */
            height: 3rem;
            float: right;
            padding: 0 0.5rem;
            padding-top: 1rem;
            color: $lighter-theme;

            &:hover {
                background-color: $hilite;
            }
        }
    }

    .find_gift {
        position: relative;
        float: right;
        top: 0.8rem;
        width: 14rem;

        .field {
            float: left;
            margin: 0rem 0.2rem 0rem 0rem !important;

            input {
                padding: 0.3rem !important;
                font-size: 0.6rem !important;
            }
        }

        .button {
            float: left;
            padding: 0.45rem !important;
            font-size: 0.6rem !important;
            margin: 0rem 0.2rem 0rem 0rem !important;
        }
    }

}

/* --------------- Index ------------------- */

.video, .how_this_works, .faq, .about_us {
    position: relative;
    margin: 5rem 10rem; 
}

.video {

    text-align: center;

    h1{
        font-size: 3rem;
        margin: 2rem 0;
    }

    img {
        width: 75%;
    }
}

.how_this_works {

    text-align: center;

    h1 {
        font-size: 3rem;
        margin: 2rem 0;
    }
}

.faq {

    text-align: center;

    h1 {
        font-size: 3rem;
        margin: 2rem 0;
    }
}

.about_us {

    text-align: center;

    h1 {
        font-size: 3rem;
        margin: 2rem 0;
    }
}

/* --------------- New gift ------------------- */

.background_info {
    font-size: 1.2rem;
    margin: 4rem auto 0rem auto;
    position: relative;
    width: 60%;


}

/* --------------- Volunteer resources page ------------------- */

.popup_form_background {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
    overflow: scroll;

    .popup_form {

    }
}

.current_volunteers {
    width: 75%;
    background-color: rgba(255,255,255,0.7);
    padding: 1rem;
}

.add_volunteer.buttons {
    position: absolute;
    top: 5rem;
    left: 10rem;
}

/* ------ User profile ----- */

.info {
    position: absolute;
    left: 10rem;
    height: 20rem;
    width: 15rem;
    top: 7rem;

    .info_head{
        margin: 0rem 0rem 1rem 0rem;
    }

    .field {
        
        input {
            padding: 0rem;
            background: none;
            border: none;
            width: 100%;
            font-size: 0.8rem;
        } 

        label {
            font-size: 1rem;
            color: rgb(141, 62, 0);
        }
    }

    .submit {
        cursor: pointer;
        width: 80%;
        background-color: rgb(216, 216, 216);
        border: 1px solid rgb(209, 209, 209);
        border-radius: 2px;
        -webkit-transition: background-color 250ms; /* For Safari 3.1 to 6.0 */
        transition: background-color 250ms;

        &:hover {
        background-color: rgb(205, 205, 205);
        border: 1px solid rgb(194, 194, 194);            
        }
    }
}

.section_title {
    font-size: 1.3rem;
}

.stats {
    position: absolute;
    right: 10rem;
    width: 10rem;
    top: 7rem;

    .stat {
        text-align: center;

        span {
            font-size: 3rem;
        }
    }
}

.gift_history_container {

    position: absolute;
    width: 32rem;
    top: 7rem;
    left: 50%;
    margin-left: -15rem;

    .gift_less_detail {
        box-sizing:border-box;
        -moz-box-sizing:border-box; /* Firefox */        
        width: 100%;
        background-color: rgba(255,255,255,0.5);
        position: relative;
        margin: 2rem 0;
        padding: 2rem;

        .donate {
            padding: 0.5rem;
            text-align: center;
            position: relative;
            margin: 0 auto;
            width: 50%;
        }
    }

    .in_progress {
        color: #FFA300;
        border-color: #FFA300;
    }

    .completed {
        color: #2FCA7A;
        border-color: #2FCA7A;
    }

    .status {
        position: absolute;
        right: 2rem;
        top: 1rem;
        display: inline-block;
        border: 1px solid;
        border-radius: 5px;
        padding: 0.2rem;
    }
}

  /* ------ user option menu (drop down when profile is clicked) ----- */

  .user_options_menu {
    position: absolute;
    right: 0;
    top: 3rem;
    padding: 0.5rem;
    width: 12.5rem;
    background-color: rgba(255,255,255,0.5);
    overflow: auto; 
    font-size: 1rem;

    a {
        color: black;
        font-size: 0.8rem;
        text-decoration: none;

        &:hover {
            color: rgb(145, 145, 145);
        }
    }

  }



/* ------ Admin page ----- */

.admin_users, .admin_gifts, .admin_volunteers {
    width: 90%;
    padding: 1rem;
    overflow: scroll;
    

    th, td {
        font-size: 0.3rem;
        text-align: center;
    }

    .button {
        min-width: 5rem ;
        text-transform: none !important;
    }
}
